<div class="container">
    <div class="row">
        <div class="col-md-12" style="margin-top: 30px;">
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#exampleModal">Add Area</button>
            <h3>Area Head</h3>          
            <card>
                <div>
                  <action-table></action-table>
                </div>
              </card>
        </div>
    </div>
</div>

<modal>
  <span header>Add Area</span>
  <add-area body></add-area>
</modal>


