<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Bharat Agencies</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="router-link-active" href="#"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLinkActive="router-link-active"
        >
          Master
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a
            class="dropdown-item"
            routerLink="/account_head"
            routerLinkActive="router-link-active"
            >Account Head</a
          >
          <a class="dropdown-item" routerLink="/item_head">Item Head</a>
          <a class="dropdown-item" routerLink="/area_list">Area List</a>
          <a class="dropdown-item" routerLink="/mfg_list">Manufacturer List</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLinkActive="router-link-active"
        >
          Entry
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/sales">Sale</a>
          <a class="dropdown-item" routerLink="/purchase">Purchase</a>
          <a class="dropdown-item" routerLink="/bank_entry">Bank Entry</a>
          <a class="dropdown-item" routerLink="/cash_entry">Cash Entry</a>
          <a
            class="dropdown-item"
            routerLink="/account_head"
            routerLinkActive="router-link-active"
            >Sale Return</a
          >
          <a
            class="dropdown-item"
            routerLink="/account_head"
            routerLinkActive="router-link-active"
            >Purchase Return</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLinkActive="router-link-active"
        >
          Status
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/sales">Sale</a>
          <a class="dropdown-item" routerLink="/purchase">Purchase</a>
          <a class="dropdown-item" routerLink="/bank_entry">Bank Entry</a>
          <a class="dropdown-item" routerLink="/cash_entry">Cash Entry</a>
          <a
            class="dropdown-item"
            routerLink="/account_head"
            routerLinkActive="router-link-active"
            >Sale Return</a
          >
          <a
            class="dropdown-item"
            routerLink="/account_head"
            routerLinkActive="router-link-active"
            >Purchase Return</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
    </ul>
  </div>
</nav>
